html, body {
  margin: 0;
  height: 100%;
}
 
body {
  background-color: maroon;
  border: 40px solid red;
  padding: 40px;
  box-sizing: border-box;
}
 
body::before {
  content: "";
  display: block;
  height: 100%;
  background-color: grey;
  border: 40px solid black;
  box-sizing: border-box;
}
 
img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}